/* -----------------------------------ШРИФТЫ----------------------------------- */
@font-face {
    font-family: 'TT Lakes';
    src: url('../fonts/TTLakes-Bold.eot');
    src: local('TT Lakes Bold'), local('../fonts/TTLakes-Bold'),
        url('../fonts/TTLakes-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TTLakes-Bold.woff') format('woff'),
        url('../fonts/TTLakes-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes';
    src: url('../fonts/TTLakes-Regular.eot');
    src: local('TT Lakes Regular'), local('../fonts/TTLakes-Regular'),
        url('../fonts/TTLakes-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TTLakes-Regular.woff') format('woff'),
        url('../fonts/TTLakes-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes';
    src: url('../fonts/TTLakes-Medium.eot');
    src: local('TT Lakes Medium'), local('../fonts/TTLakes-Medium'),
        url('../fonts/TTLakes-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TTLakes-Medium.woff') format('woff'),
        url('../fonts/TTLakes-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    background: none;
}

html {
    box-sizing: border-box;
}

html,
body {
    font-family: "TT Lakes", "Verdana", sans-serif;
    color: #000;
}

img {
 }


ul,
li {
    list-style: none;
}

a,
a:visited,
a:hover {
    text-decoration: none;
}

.layout {
    margin: 0px auto;
}

.header {
    width: 100%;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #D9FFF5;
    justify-content: space-between;
    padding: 18.59px 16px;
    background-color: white;
}

.header__left-group {
    display: flex;
    align-items: center;
    gap: 16px;
    position: relative;
}

.header__logo {
    align-self: center;
    height: 50.81px;
}

.user-menu {
    display: flex;
    position: relative;
    gap: 16px;
    align-items: center;
    margin: 0;
}

.user-menu::before {
    content: '';
    display: block;
    position: absolute;
    width: 2px;
    height: 32px;
    left: -20px;
    background-color: #EAEAEA; 
}

.user-menu__link {
    display: none;
}

.social-buttons {
    display: none;
}

@media (min-width: 767px) {
    .header__left-group {
        gap: 42px;
    }
    
    .user-menu {
        margin-right: 24px;
    }

    .burger {
        margin-left: 8px;
    }

    .social-buttons {
        display: flex;
        align-items: center;
        gap: 16px;
        margin-left: 20px;
    }    


    .header__left-group::before {
          content: '';
          display: block;
          position: absolute;
          width: 2px;
          height: 32px;
          left: 70px;
          background-color: #EAEAEA;;
    }

    .header__right-group {
        display: flex;
        gap: 42px;
    }

}

.header__general-group {
    display: flex;
    flex-direction: column;
    background-color: #F8F8F8;
}

.page-main__title {
    padding-left: 16px;
    margin: 0;
    margin-top: 24px;
    font-family: 'TT Lakes';
    font-weight: bold;
    font-size: 28px;
    line-height: 40px;
    letter-spacing: -0.6px;
    color: #1B1C21;
    position: relative;
}

.page-main__title::before {
    content: '';
    position: absolute;
    left: 0px;
    width: 4px;
    height: 40px;
    background: #41F6D7;
    border-radius: 0px 6px 6px 0;
}

@media screen and (min-width: 1120px) {
    .social-buttons {
        display: none; 
    }

    .header {
        border: none;
        background-color: #F8F8F8;
        padding: 0;
        margin: 0;
    }

    .header__left-group {
        display: none;
    }

    .user-menu {
        margin: 0;
        margin-top: 42px;
        gap: 160px
    }

    .user-menu::before {
        display: none;
    }

    .user-menu:last-child {
        margin-right: 32px;
    }

    .header__general-group {
        display: flex;
        flex-direction: row-reverse;
        gap: 583px;
        background-color: #F8F8F8;
    }
    
    .page-main__title {
        width: 100%;
        box-sizing: content-box;
        margin-top: 42px;
        margin-left: 8px;
    }

    .user-menu__link {
        display: block;
    }
    
    .user-menu__link-repair {
        position: absolute;
        top: 7px;
        left: -135px;
        color:#000;
    }

    .user-menu__link-status {
        color:#000;
        position: absolute;
        top: 8px;
        left: 70px;
    }

    .page-main__title::before {
        content: '';
        position: absolute;
        left: -8px;
        width: 4px;
        height: 40px;
        background: #41F6D7;
        border-radius: 0px 6px 6px 0;
    }
}



/*------------------------------------------MAIN--------------------------------*/

.page-main {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 0;
    margin-top: 0;
    background-color: #F8F8F8;
}



@media screen and (min-width: 767px) {
   .page-main__title {
    padding-left: 24px;
   } 
}

.page-main__user-menu {
    display: none;
}



.slider {
    overflow: auto;
}

.slider::-webkit-scrollbar {
    width: 0;
}

.navigation {
    display: flex;
    padding-top: 16px;
    padding-left: 16px;
}

@media screen and (min-width: 767px) {
    .navigation {
        display: flex;
        padding-top: 24px;
        padding-left: 20px;
    }
    
}

@media screen and (min-width: 1120px) {
    .navigation {
        display: flex;
        padding: 0;
        width: 1100px;
        flex-wrap: wrap;
        margin-left: 35px;
        margin-top: 10px;
    }
}

.navigation__link {
    display: inline-block;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 16px;
    padding-right: 16px;
    font-family: 'TT Lakes';
    font-weight: medium;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #7E7E82;
    white-space: nowrap;
    border: 2px solid transparent;
}

.navigation__link:hover {
    background-color: #fff;
    border: 2px solid #B8FFEC;
    border-radius: 6px;

}

.navigation__link:first-child:hover:active {
    background-color: #fff;
    border: 2px solid #B8FFEC;
    border-radius: 6px;
}

.info {
    display: flex;
    flex-direction: column;
}

.info__text-content {
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 16px;
}

.info__text {
    height: 90px;
    margin-top: 0;
    margin-bottom: 16px;
    font-family: 'TT Lakes';
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.2px;
    color: #1B1C21;
    overflow: hidden;
    box-sizing: content-box;
}

@media screen and (min-width: 767px) {
   .info__text-content {
    margin-left: 24px;
   }
   
    .info__text {
        height: 160px;
        line-height: 20px;
        padding-top: 8px;
    }
}

.info__read-more {
    margin-left: 32px;
}

.arrows-link {
    font-family: 'TT Lakes';
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #1B1C21;
    position: relative;
}

.arrows-link::before {
    content: '';
    position: absolute;
    left: -16px;
    top: 10px;
    width: 5.65px;
    height: 5.65px;
    border: 2px solid #41F6D7;
    border-bottom: none;
    border-left: none;
    transform: rotate(135deg);
}

.arrows-link::after {
    content: '';
    position: absolute;
    left: -16px;
    top: 4px;
    width: 5.65px;
    height: 5.65px;
    border: 2px solid #41F6D7;
    border-bottom: none;
    border-left: none;
    transform: rotate(135deg);
}

.info img {
    display: block;
    margin-left: 0;
    margin-right: auto;
    flex-shrink: 0;
}

@media screen and (min-width: 767px) {
    .info {
        display: flex;
        flex-direction: row;
    }
    
    .info img {
        align-self: flex-start;
        width: 360px;
        height: 208px;
        margin-left: 48px;
        margin-right: 25px;
        border-radius: 6px;
        margin-bottom: 40px;
    }
}

@media screen and (min-width: 1120px) {
    .info {
        display: flex;
        flex-direction: row;
    }
    
    .info img {
        align-self: flex-start;
        width: 531px;
        height: 307px;
        margin-left: 48px;
        margin-right: 25px;
        border-radius: 6px;
        margin-bottom: 49px;
    }
}